In [1]:
import numpy as np
import pandas as pd

# Series and DataFrames

In [3]:
ser1 = pd.Series(data = [1, 2, 3, 4, 5], index = list('abcde'))

In [4]:
ser1

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [5]:
ser2 = pd.Series(data = [11, 22, 33, 44, 55], index= list('abcde'))
ser2

a    11
b    22
c    33
d    44
e    55
dtype: int64

In [6]:
df = pd.DataFrame({'A': ser1, 'B':ser2})
df

   A   B
a  1  11
b  2  22
c  3  33
d  4  44
e  5  55

* Creating dataframe 10*10

In [7]:
pd.DataFrame(data=np.random.randint(1,10,size=(10,10)), index=list('ABCDEFGHIJ'), columns=list('abcdefghij'))

   a  b  c  d  e  f  g  h  i  j
A  9  9  5  4  8  2  7  2  6  7
B  3  2  4  4  9  4  1  5  4  7
C  5  3  1  1  2  6  7  1  1  3
D  8  4  1  8  1  8  4  6  2  2
E  8  2  7  7  1  3  1  3  5  9
F  7  3  1  4  7  6  8  6  6  3
G  3  7  5  8  4  4  2  6  9  7
H  4  5  8  8  6  7  3  7  3  7
I  3  5  9  1  7  2  3  4  3  8
J  8  1  3  4  1  7  6  9  2  9